<section id="about">
    <h1 class="en-text">Hi!</h1>
    <h3 class="en-text">General information</h3>
    <p class="en-text">My name is Marcin and I am a young, eager to develop undergraduate. I am student in a field of Automatics, Robotics and Control Systems at Gdańsk University of Technology. If you are here then you must have received my job application. Let me explain to you why hiring me may pay off.</p>
    <h3 class="en-text">Technical summary</h3>
    <p class="en-text">In my mind, being versatile brings more opportunities. That is why not only am I interested in frontend but also in backend technologies. I am, at the very least, familiar with web development, databases, projecting mobile apps and machine learning. Please, be informed that my skills are being constantly expanded. I do invite you to catch a glimpse of my detailed technical stack here.</p>
    <h3 class="en-text">Soft skills</h3>
    <p class="en-text">Long story short - I am a hardworking, always eager to solve complex problems team player. As to me, being open-minded to diversity makes cooperation far much easier. In order to be communicative I actively ameliorate my foreign language skills - english and french.</p>
    <h3 class="en-text">Leisure time</h3>
    <p class="en-text">In my spare time, besides of learning, I appreciate good lecture. In order to charge my batteries up I practice swimming.</p>
    <!--  -->
    <h1 class="fr-text">Salut!</h1>
    <h3 class="fr-text">Les informations générales</h3>
    <p class="fr-text">Je m’appelle Marcin et je suis jeune étudiant focalisé sur mon développement personel. J’étudie automatisation, robotique et systèmes de contrôle à l’école polytechnique de Gdańsk. Si vous avez consulté ce site internet, vous aviez dû recevoir mon CV. J’aimerais bien vous présenter mes projets et expliquer pourquoi je suis un candidat correspondant.</p>
    <h3 class="fr-text">Mes compétences en bref</h3>
    <p class="fr-text">Je crois que un ample éventail de compétences peut apporter tas des opportunités. C’est pourquoi je suis intéressé non seulement par frontend mais aussi par backend technologies. Je sais faire les applications web et mobile. La capacité de gérer les systèmes de base de données est aussi ma savoir-faire. Veuillez bien savoir que je apprendre tous les jours et mes compétences deviennent plus et plus développées constamment. Plus de renseignements sur mon technical stack se trouve au-dessous.</p>
    <h3 class="fr-text">Les compétences non techniques</h3>
    <p class="fr-text">En bref, je suis une personne travailleuse, toujours ayante l’envie de résoudre les problèmes. Je crois qu’il faut coopérer pour atteindre le succès. J’essaye améliorer mes compétences linguistiques (le français et l’anglais) chaque jour pour que je puisse communiquer effectivement avec les autres.</p>
    <h3 class="fr-text">Les temps libres</h3>
    <p class="fr-text">Pendant mes temps libres, si je n’apprends pas, j’aprecie une bonne lecture. Pour me détendre, je nage parfois.</p>
    <!--  -->
    <h1 class="pl-text">Cześć!</h1>
    <h3 class="pl-text">Informacje ogólne</h3>
    <p class="pl-text">Nazywam się Marcin i jestem studentem Automatyki, Robotyki i Systemów Sterowania. Jeżeli znajdujesz się na tej stronie to znaczy, że otrzymałeś moje CV. Pozwól mi wytłumaczyć dlaczego zatrudnienie mnie może być opłacalne.</p>
    <h3 class="pl-text">Skrót umiejętności technicznych</h3>
    <p class="pl-text">Uważam, że wszechstronność pozwala na uzyskanie najlepszych rezultatów. Dlatego też, jestem zainteresowany zarówno frontend’em jak i backend’en. Jestem, co najmniej, zaznajomiony z technologiami webowymi, bazami danych, projektowaniem aplikacji mobilnych i machine learningiem. Wiedz, że codziennie staram się uczyć czegoś nowego. W następnej sekcji znajduje się bardziej szczegółowa lista technologii które znam.</p>
    <h3 class="pl-text">Umiejętności miękkie</h3>
    <p class="pl-text">W skrócie - jestem ciężko pracującą osobą, zawsze starającą się uprościć napotkane problemy. Lubię pracować w grupie. Uważam, że bycie otwartym na różnorodność sprawia, że współpraca jest o wiele łatwiejsza. Aby porozumiewać się swobodnie, aktywie rozwijam znajomość języków obcych - angielskiego i francuskiego.</p>
    <h3 class="pl-text">Czas wolny</h3>
    <p class="pl-text">W wolnym czasie, poza nauką, jedną z moich ulubionych aktywności jest czytanie. Od czasu do czasu, aby się rozluźnić - chodzę na basen.</p>
</section>